.explCard-main-container {
    border-radius: 5px;
    background-size:contain;
    background-position: 'center';
    height: 30vh;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.157);
}
.explCard-main-container:hover {
    scale: 1.03;
}
.explCard-title {
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
    margin: 0;
    font-weight: bold;
    color: rgb(206, 206, 206);
    background-color: rgba(91, 91, 91, 0.555);
    backdrop-filter: blur(5px);
}
.explCard-info {
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 7.5px;
    color: rgba(0, 0, 0, 0.627);
    background-color: rgba(128, 128, 128, 0.4);
    backdrop-filter: blur(5px);
}
.explCard-info:hover {
    color: rgb(206, 206, 206);
    scale: 1.05;
    cursor: pointer;
}