.factsCard-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 20%;
    left: 40%;
    z-index: 9999;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 20px;
    width: 40vw;
    height: 50vh;
    background-color: rgba(139, 139, 139, 0.604);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.642);
    overflow-x: scroll;
    animation-name: showFacts;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
.exit-button {
    margin-left: auto;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 17.5px;
    color: rgba(0, 0, 0, 0.598);
}
.exit-button:hover {
    font-weight: bold;
    scale: 1.05;
    cursor: pointer;
}
.popup-title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 25px;
}
.details-main-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.details-titles-cont {
    font-size: 17.5px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.837);
}
.factCard-fact-title {
    border-bottom: 2px solid rgba(0, 0, 0, 0.319);
}

.factCard-fact {
    font-size: 17.5px;
    color: rgba(0, 0, 0, 0.837);
    border-bottom: 2px solid rgba(0, 0, 0, 0.319);
}
@keyframes showFacts {
    0%{
        opacity: 0;
        scale: 0.1;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}
.color-display-container {
    border-radius: 5px;
    width: 75%;
    height: 35%;
}

@media screen and (max-width: 1030px) {
    .factCard-fact {
        margin-bottom: 22.5px;
    }
}