.games-page-container {
    opacity: 0;
    width: 81.5%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    margin-top: 10px;
    animation-name: homeVidsIntro;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.gameslCard-main-container {
    border-radius: 5px;
    background-size:contain;
    background-position: 'center';
    height: 43vh;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.157);
}
.gameslCard-main-container:hover {
    scale: 1.01;
}
.gamesCard-title {
    font-size: 30px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: rgb(58, 58, 58);
    background-color: rgba(195, 195, 195, 0.61);
    backdrop-filter: blur(5px);
}
.gamesCard-title:hover {
    color: rgb(224, 224, 224);
    cursor: pointer;
    font-weight: bold;
}
.gamesCard-info {
    width: 30%;
    height: 25px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.654);
    background-color: rgba(0, 168, 157, 0.735);
}
.gamesCard-info:hover {
    cursor: pointer;
    background-color: rgba(0, 168, 157, 0.89);
}
.game-player-main-container {
    width: 100%;
    height: 86.5vh;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    padding-bottom: 20px;
    background-color: rgba(128, 128, 128, 0.555);
}

@media screen and (max-width: 1030px) {
    .games-page-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .gameslCard-main-container {
        height: 30vh;
    }
}
@media screen and (max-width: 720px) {
    .games-page-container {
        grid-template-columns: repeat(1, 1fr);
    }
}