.gwCard-main-container {
    border-radius: 5px;
    width: 50vw;
    height: fit-content;
    position: fixed;
    left: 32.5%;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    padding-bottom: 30px;
    background-color: rgba(185, 223, 255, 0.523);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.801);
}
.gw-popup {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    color: rgba(0, 22, 48, 0.681);
}
.gw-popup-input {
    width: 80%;
    height: 25px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    color: rgb(0, 0, 99);
    background-color: rgba(54, 54, 166, 0.582);
}
.gw-popup-input::placeholder {
    color: rgba(0, 0, 99, 0.809);
}
.gw-popup-input:hover {
    scale: 1.025;
    background-color: rgba(68, 68, 184, 0.582);
}
.gw-popup-btns {
    width: 50%;
    height: 25px;
    border: none;
    border-radius: 5px;
    margin: 2.5px;
    color: rgba(255, 255, 255, 0.45);
    background-color: rgba(0, 45, 99, 0.485);
}
.gw-popup-btns:hover {
    scale: 1.025;
    color: white;
    background-color: rgba(0, 45, 99, 0.715);
    cursor: pointer;
}
.ans-hint {
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 99);
}