.homepage-main-container {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar {
  position: relative;     
  width: 250px;
  height: 100vh;
  background-color: #2c2c2c;
  overflow: hidden;
  padding: 1rem;
  color: white;
}

.balloon {
  position: absolute;
  opacity: 0%;
  z-index: 0;
  bottom: 10%;       
  width: 30px;
  height: 40px;
  border-radius: 50%;
  background-color: pink;
  animation: floatLR linear infinite;
  animation-fill-mode: forwards;
}

.balloon1 { top: 0%; animation-delay: 12s; animation-duration: 15s; animation-direction: normal; background: #ff6b6b; }
.balloon4 { top: 3%; animation-delay: 50s; animation-duration: 38s; animation-direction: reverse; background: #1dd1a1; }
.balloon5 { top: 2.5%; animation-duration: 15s; animation-direction: normal; background: #ff9ff3; }

@keyframes floatLR {
  0% { 
        left: -400px;
        opacity: 80%;
    }
  100% { left: 100%; opacity: 80%; } 
}
.home-page-main-cont {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.sideNav-container {
    width: 17%;
    height: 100%;
    padding-right: .5%;
    background-color: rgba(43, 43, 43, 0.688);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.357);
    animation-name: sideNavIntro;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes sideNavIntro {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.main-window-container {
    opacity: 0;
    width: 81.5%;
    height: 88vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    margin-top: 10px;
    animation-name: homeVidsIntro;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    overflow-x: scroll;
}
.loadMore-button {
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 54.5%;
    width: 10%;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.683);
    background-color: grey;
    margin-bottom: 20px;
}
.loadMore-button:hover {
    cursor: pointer;
    color: black;
    scale: 1.03;
    background-color: rgb(155, 154, 154);
}
@keyframes homeVidsIntro {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 1030px) {
    .main-window-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 720px) {
    .main-window-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 0.5%;
    }
    .balloon {
        display: none;
    }
    .loadMore-button {
        left: 52.5%;
        width: 15%;
    }
}