.landing-page-container {
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/landing-bckgrnd.jpg');
    background-size: cover;
}
.landing-title {
    font-size: 40px;
    margin-top: 10px;
    color: rgba(75, 1, 1, 0.771);
}
.landing-info {
    font-size: 20px;
    margin-top: 15%;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.686);
    animation-name: landing;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.landing-input {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    width: 30%;
    height: 25px;
    margin-bottom: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: rgba(50, 0, 0, 0.858);
    background-color: rgba(205, 205, 205, 0.845);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
    animation-name: landing;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.landing-input:hover { 
    scale: 1.025;
    background-color: rgb(228, 228, 228);
}
.landing-btn {
    width: 20%;
    border: none;
    border-radius: 5px;
    background-color: grey;
    color: rgba(0, 0, 0, 0.662);
    animation-name: landing;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.landing-btn:hover {
    cursor: pointer;
    color: black;
    background-color: rgb(161, 161, 161);
}
.landing-info2 {
    opacity: 0;
    width: 25%;
    text-align: center;
    margin-right: auto;
    margin-top: 5%;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.686);
    animation-name: landing;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
.landing-info3 {
    padding: 10px;
    opacity: 0;
    width: 25%;
    text-align: center;
    margin-right: auto;
    margin-top: 10px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.686);
    animation-name: landing;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
.landing-info4 {
    padding: 10px;
    opacity: 0;
    width: 25%;
    text-align: center;
    margin-right: auto;
    margin-top: 10px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.686);
    animation-name: landing;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes landing {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1030px) {
    .landing-info {
        margin-top: 25%;
    }
    .landing-input {
        width: 45%;
    }
    .landing-btn {
        width: 30%;
    }
    .landing-info2 {
        margin-top: 5px;
       padding-bottom: 0;
    }
    .landing-info3 {
       margin-top: 5px; 
       padding-bottom: 0;
       padding-top: 0;
    }
    .landing-info4 {
       margin-top: 5px; 
       margin-bottom: 5px;
       padding-bottom: 0;
       padding-top: 0;
    }
}

@media screen and (max-width: 720px) {
    .landing-info2 {
        margin-top: 30%;
        padding-bottom: 0;
        margin-right: 0;
       width: 75%;
    }
    .landing-info3 {
        margin-right: 0;
       margin-top: 5px; 
       padding-bottom: 0;
       padding-top: 0;
       width: 75%;
    }
    .landing-info4 {
        margin-right: 0;
       margin-top: 5px; 
       margin-bottom: 5px;
       padding-bottom: 0;
       padding-top: 0;
       width: 75%;
    }
}