.me-page-container {
    background-image: url('/me-bckgrnd.jpg');
    background-size: contain;
    width: 100%;
    height: 88.5vh;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 2%;
}
.me-main-container {
    width: 64%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}
.me-avatar-container {
    width: 97%;
    height: 59%;
    border-radius: 5px;
    background-color: rgba(255, 169, 169, 0.501);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.me-avatar-cont {
    border: none;
    border-radius: 5px;
    width: 95%;
    height: 88%;
    background-color: rgba(255, 255, 255, 0.265);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.edit-avatar-icon {
    width: 30px;
    height: 30px;
    margin-left: 90%;
    margin-top: 10px;
    opacity: 70%;
}
.edit-avatar-icon:hover {
    opacity: 1;
    cursor: pointer;
}
.edit-avatar-options-cont {
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 90%;
    height: 85%;
    padding: 5px;
    padding-bottom: 20px;
    background-color: rgba(255, 34, 255, 0.675);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.675);
    overflow-x: scroll;
}
.edit-avatar-title {
    margin: 0;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.693);
}
.edit-avatar-subtitles {
    margin: 0;
    margin-top: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.64);
}
.edit-avatar-options {
    width: 60%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin: 2.5px;
    font-weight: bold;
    color: rgba(48, 0, 48, 0.738);
    background-color: rgba(242, 242, 242, 0.793);
}
.edit-avatar-options:hover {
    scale: 1.025;
    color: purple;
    background-color: white;
    cursor: pointer;
}
.me-info-container {
    width: 97%;
    height: 39%;
    border-radius: 5px;
    background-color: rgba(255, 169, 169, 0.501);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;
}
.me-card-grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
}
.me-card-labels {
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    color: rgb(32, 0, 54);
    background-color: rgba(255, 255, 255, 0.387);
}
.edit-about-me-info {
    width: 40%;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.383);
    background-color: rgba(55, 0, 55, 0.583);
}
.edit-about-me-info:hover {
    scale: 1.01;
    cursor: pointer;
    color: white;
    background-color: rgba(117, 0, 117, 0.583);
}
.me-info-input-card {
    border-radius: 5px;
    width: 35%;
    padding: 5px;
    position: fixed;
    top: 25%;
    left: 42.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(128, 0, 128, 0.739);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.793);
}
.me-inputs-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.559);
}
.me-info-inputs {
    width: 75%;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    color: white;
    background-color: rgba(73, 5, 73, 0.586);
}
.me-info-inputs::placeholder {
    color: rgba(255, 255, 255, 0.56);
}
.me-info-inputs:hover {
    scale: 1.025;
    background-color: rgba(88, 12, 107, 0.586);
}
.me-info-submit-btn {
    width: 50%;
    height: 25px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.579);
    background-color: rgba(43, 0, 83, 0.547);
}
.me-info-submit-btn:hover {
    scale: 1.025;
    cursor: pointer;
    color: white;
    background-color: rgba(72, 9, 131, 0.547);
}
.me-sub-container {
    width: 34%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}
.me-progress-container {
    width: 97%;
    height: 49%;
    border-radius: 5px;
    background-color: rgba(255, 169, 169, 0.501);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.me-reflect-container {
    width: 97%;
    height: 49%;
    border-radius: 5px;
    background-color: rgba(255, 169, 169, 0.501);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pet-main-container {
    width: 64%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}
.pet-avatar-container {
    width: 97%;
    height: 59%;
    border-radius: 5px;
    background-color: rgba(200, 171, 255, 0.501);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pet-info-container {
    width: 97%;
    height: 39%;
    border-radius: 5px;
    background-color: rgba(200, 171, 255, 0.501);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;
}
.pet-sub-container {
    width: 34%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}
.pet-progress-container {
    width: 97%;
    height: 48%;
    border-radius: 5px;
    background-color: rgba(200, 171, 255, 0.501);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1%;
}
.pet-reflect-container {
    width: 97%;
    height: 49%;
    border-radius: 5px;
    background-color: rgba(200, 171, 255, 0.501);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pet-closet-cont {
    width: 92.5%;
    height: 87.5%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.261);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.robot-mood {
    width: 80%;
    height: 90%;
    text-align: center;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.658);
}
.me-card-titles {
    margin: 0;
    margin-top: 7.5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.593);
}
.pg-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 0, 0, 0);
}
.me-progress-cards {
    border-radius: 5px;
    width: 45%;
    height: 98%;
    background-color: rgba(255, 255, 255, 0.199);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.me-stat-titles {
    margin: 0;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(35, 0, 49, 0.563);
}
.me-stat-icons {
    width: 40px;
    height: 40px;
}
.me-stat {
    font-size: 35px;
    margin: 0;
    margin-top: 20px;
    color: rgba(0, 57, 215, 0.637);
}
.me-reflect-card {
    border-radius: 5px;
    width: 92.5%;
    height: 97%;
    margin-bottom: 3%;
    background-color: rgba(255, 255, 255, 0.199);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.me-reflect-inputs {
    margin: 3.5px;
    height: 21.5px;
    width: 85%;
    border-radius: 5px;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.784);
    background-color: rgba(48, 0, 48, 0.516);
}
.me-reflect-inputs::placeholder {
    color: rgba(255, 255, 255, 0.784);
}
.me-reflect-btn {
    width: 60%;
    height: 22.5px;
    border: none;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.671);
    background-color: rgba(255, 255, 255, 0.638);
}
.me-reflect-btn:hover {
    scale: 1.01;
    color: white;
    cursor: pointer;
    background-color: rgba(250, 133, 250, 0.489);
}