.settings-page-container {
    width: 100%;
    height: 89.75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    background-image: url('/setting-bckgrnd.jpg');
    background-size: contain;
}
.settings-sett-container {
    width: 29%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.settings-window {
    width: 95%;
    height: 97%;
    background-color: rgba(128, 128, 128, 0.778);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.settings-titles {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.58);
}
.settings {
    width: 100%;
    height: 50px;
    border: none;
    font-size: 17.5px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.37);
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 4px solid rgba(0, 0, 0, 0.082);
}
.settings:hover {
    scale: 1.025;
    color: rgba(0, 0, 0, 0.503);
    cursor: pointer;
}
.settings-btns {
    width: 65%;
    height: 30px;
    margin-bottom: 7.5px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.514);
    background-color: rgba(90, 90, 90, 0.877);
}
.settings-dropdown-label {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.548);
}
.settings-dropdown {
    width: 65%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.457);
    background-color: rgba(90, 90, 90, 0.877);
}   
.settings-btns:hover, .settings-dropdown:hover {
    scale: 1.025;
    cursor: pointer;
    color: rgb(159, 2, 2);
    background-color: rgba(166, 165, 165, 0.877);
}
.settings-sett-opts-container {
    width: 69%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1%;
}
.qofd-select-btn {
    width: 40%;
    height: 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.495);
    background-color: rgba(187, 187, 187, 0.571);
}
.qofd-select-btn:hover {
    scale: 1.025;
    cursor: pointer;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.757);
    background-color: rgba(255, 255, 255, 0.764);
}
.settings-opt-window {
    width: 95%;
    height: 68%;
    margin-top: 10px;
    background-color: rgba(128, 128, 128, 0.778);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}
.settings-opt-sub-window {
    width: 95%;
    height: 35%;
    margin-bottom: 10px;
    background-color: rgba(128, 128, 128, 0.778);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.settings-mom-and-dad {
    font-size: 55px;
    color: rgba(255, 255, 255, 0.345);
    text-align: center;
}