.todo-ListCard-main-container {
    width: 97%;
    height: 50%;
    margin-bottom: 10%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgba(0, 0, 0, 0.155);
    background-color: rgba(128, 128, 128, 0.598);
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 5px rgba(15, 0, 12, 0.687);
}
