.topNav-main-container {
    z-index: 999;
    height: 50px;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    align-items: center;
    gap: 2vw;
    overflow-y: auto;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0);
    animation-name: topNavBorderIntro;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes topNavBorderIntro {
    0%{
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0);
    }
    100%{
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.244);
    }
}
.topNav-main-container::-webkit-scrollbar {
    display: none;
}
.topNav-btns {
    opacity: 0;
    width: 15.5vw;
    height: 65%;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 5px;
    border: none;
    white-space: nowrap;
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.63);
    background-color: grey;
    animation-name: topNavBtnsIntro;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.myL-topNav-btns {
    opacity: 0;
    width: 25vw;
    height: 65%;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 5px;
    border: none;
    white-space: nowrap;
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.63);
    background-color: grey;
    animation-name: topNavBtnsIntro;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.topNav-btns:hover, .myL-topNav-btns:hover {
    cursor: pointer;
    color: rgb(166, 2, 2);
    scale: 1.04;
    background-color: rgb(184, 184, 184);
}
@keyframes topNavBtnsIntro {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@media screen and (max-width: 1030px) {
    .topNav-btns {
        width: 20vw;
    }
}
@media screen and (max-width: 720px) {
    .topNav-main-container {
        background-color: rgb(64, 64, 64);
    }
}

