.tunes-page-container {
    padding: 10px;
    width: 81.5%;
    height: 87vh;
    background-image: url('/tunes-backgrnd.jpg');
    background-size: cover;
    overflow-x: scroll;
}
.new-tunes-container{
    height: 100%;
    opacity: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    animation-name: homeVidsIntro;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.explore-tunes-container{
    height: 100%;
    opacity: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    animation-name: homeVidsIntro;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.my-tunes-container{
    height: 100%;
    opacity: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    animation-name: homeVidsIntro;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.spot-player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.672);
}
.spot-player-container:hover {
    scale: 1.01;
}

@media screen and (max-width: 1030px) {
    .new-tunes-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .explore-tunes-container{ 
        grid-template-columns: repeat(2, 1fr);
    }
    .my-tunes-container{ 
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 720px) {
    .new-tunes-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .explore-tunes-container{ 
        grid-template-columns: repeat(1, 1fr);
    }
    .my-tunes-container{ 
        grid-template-columns: repeat(1, 1fr);
    }
    .spot-player-container {
        padding-top: 6%;
        padding-bottom: 6%;
    }
}