.videoCard-main-container {
    border-radius: 5px;
    width: 95%;
    display: flex;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.108);
    backdrop-filter: blur(5px);
    opacity: 0;
    animation-name: homeVidsIntro;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.videoCard-main-container:hover {
    scale: 1.025;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.206);
}
.videoCard-thumbnail {
    width: 100%;
    border-radius: 10px;
    opacity: 0;
    animation-name: homeVidsIntro;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.videoCard-bottom-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.videoCard-text-container {
    width: fit-content;
}
.videoCard-title {
    width: fit-content;
    font-size: 18px;
    text-align: left;
    margin: 0;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.699);
    opacity: 0;
    animation-name: homeVidsIntro;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.videoCard-Creator {
    margin: 0;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.529);
    opacity: 0;
    animation-name: homeVidsIntro;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.videoCard-more-info {
    font-size: 12.5px;
    color: rgba(0, 0, 0, 0.631);
}

.video-options-icon {
    width: 18x;
    height: 18px;
    margin-top: 10px;
    opacity: 50%;
    opacity: 0;
    animation-name: homeVidsIntro;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.video-options-icon:hover {
    border-radius: 50%;
    scale: 1.3;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.206);
}
@keyframes homeVidsIntro {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}